/* body {
  background: black;
} */
.button {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 12px;
  padding: 4px 7px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 3000ms infinite;
  -moz-animation: glowing 3000ms infinite;
  -o-animation: glowing 3000ms infinite;
  animation: glowing 3000ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #2ba805; -webkit-box-shadow: 0 0 3px #2ba805; }
  50% { background-color: #49e819; -webkit-box-shadow: 0 0 10px #49e819; }
  100% { background-color: #2ba805; -webkit-box-shadow: 0 0 3px #2ba805; }
}

@-moz-keyframes glowing {
  0% { background-color: #2ba805; -moz-box-shadow: 0 0 3px #2ba805; }
  50% { background-color: #49e819; -moz-box-shadow: 0 0 10px #49e819; }
  100% { background-color: #2ba805; -moz-box-shadow: 0 0 3px #2ba805; }
}

@-o-keyframes glowing {
  0% { background-color: #2ba805; box-shadow: 0 0 3px #2ba805; }
  50% { background-color: #49e819; box-shadow: 0 0 10px #49e819; }
  100% { background-color: #2ba805; box-shadow: 0 0 3px #2ba805; }
}

@keyframes glowing {
        0% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
        50% {
          background-color: #49e819;
          box-shadow: 0 0 20px #49e819;
        }
        100% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
}

.wrapper {
  padding: 0px;
  padding-top: 0px;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
}

div.demo {
    display:table;
    width:100%;
}
div.demo span {
    display:table-cell;
    text-align:center;
}
span.collab {
  font-size:16px;
  font-weight:bold;
  color:#328fa8;
}
